<title>{{ site.title }}</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
	<meta name="author" content="Mohammed Ashad">
    <meta name="theme-color" content="#1E2225" />
    <meta property="og:site_name" content="Khaleefaz ⚔️"/>
    <meta property="og:title" content="Khaleefaz ⚔️" />
    <meta property="og:description" content="Khaleefaz 2k18-21 Photo gallery" />
    <meta property="og:image" content="/thumbnail.png" />
    <meta property="og:type" content="gallery" />
    <meta property="og:url" content="https://khaleefaz.github.io" />
    <meta name="google-site-verification" content="80eGnNcWzNvy0RmLtJsYExtOQ2yM0tRpduAE6DTte7g" />
    
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<!--[if lte IE 8]>
		<script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="assets/css/main.min.css"/>
	<!--[if lte IE 9]>
		<link rel="stylesheet" href="assets/css/ie9.css"/><![endif]-->
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->
	<!-- Google Analytics -->
	{% if site.google_analytics %}
	<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
</script>
{% endif %}